﻿<div class="row">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Reference No.</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in people" data-toggle="modal" data-id="ordersModal" data-target="#ordersModal" ng-click="showModal(person.ReferenceNo)">
            <th scope="row">{{person.ReferenceNo}}</th>
            <td>{{person.FirstName}}</td>
            <td>{{person.Surname}}</td>
            <td>{{person.Email}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="ordersModal" role="dialog">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Orders</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Order Ref No.</th>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="order in orders">
                                <th scope="row">{{order.ReferenceNo}}</th>
                                <td>{{order.Name}}</td>
                                <td>{{order.Value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>