﻿<br />
<div class="row" ng-repeat="file in files">
    <input class="btn btn-primary btn-sm" type="file" id="uploadfile" ng-model="msds" name="uploadfile" multiple/>
    <br/>
</div>

<button class="btn btn-group-sm margin-top-5" ng-click="uploadFiles()">Upload Files</button>